.banner {
    max-width: 1240px;
    height: 220px;
    margin: auto;
    padding: auto;
    position: relative;
    display: flex;
    justify-content: center;
}

.banner__image {
    object-fit: cover;
    border-radius: 25px;
    width: 100%;
    filter: brightness(70%);
}

.banner__title {
    font-weight: 500;
    font-size: 48px;
    position: absolute;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    z-index: 2;
    color: white;
    margin:0;
}

@media screen and (max-width: 768px) {
    .banner {
        max-width: 768px;
        height: 111px;
    }

    .banner__image {
        border-radius: 10px;
    }

    .banner__title {
        font-size: 24px;
        text-align: left;
        left: 10px;
        word-wrap: break-word;
        width: 73%;
        padding: 10px;
    }

    .catabout {
        height: 223px;
    }
}