.carrousel {
    background: #F7F7F7;
    border-radius: 25px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 43px;
    padding-top: 46px;
}

@media screen and (max-width: 768px) {
    .carrousel {
        margin-top: 22px;
        margin-bottom: 20px;
        padding-top: 0px;
        background: transparent;
        gap: 20px;
    }
}