.collaspe {
    color: white;
    display: flex;
    margin: 15px auto;
}

.size90 {
    width: 90%;
    display: block;
}

.size45 {
    width: 45%;
    display: block;
}

.collapse__close {
    display: flex;
    position: relative;
    z-index: 2;
    background-color: #FF6060;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    margin: auto;
}

.close90 {
    border-radius: 5px;
    height: 47px;
}

.close45 {
    border-radius: 10px;
    height: 52px;
}

.infos45 {
    font-size: 18px;
}

.infos90 {
    font-size: 24px;
}

.collapse__title {
    font-size: 18px;
    color: white;
    margin: auto 0;
    flex-basis: 98%;
}

.collapse__arrawdown {
    height: 15px;
    width: 27px;
    margin: auto 0;
}

.collapse__arrawdown__img {
    margin:0;
    cursor: pointer;
}

.collaspe__open {
    display: flex;
}

.collapse__invisible {
    display: none;
}

.collapse__open__txt {
    position: relative;
    z-index: 1;
    color: #FF6060;
    width: 100%;
    line-height: 142.6%;
    margin-top: -10px;
    padding: 40px 20px;
    background-color: #F7F7F7;
    border-radius:10px;
}

.collapse__open__txt__info {
    display: flex;
    flex-direction: column;
    width: 100%;
}

@media screen and (max-width: 768px) {
    .size90 {
        width: 100%;
    }
    
    .size45 {
        width: 100%;
        margin: 10px auto;
    }

    .close90 {
        border-radius: 5px;
        height: 30px;
    }
    
    .close45 {
        border-radius: 5px;
        height: 30px;
    }

    .collapse__close {
        padding-left: 10px;
        padding-right: 10px;
    }

    .collapse__title {
        font-size: 13px;
    }

    .collapse__arrawdown {
        width: 15px;
        margin: auto 0;
    }

    .collapse__arrawdown__img {
        height: 100%;
        width: 100%;
        margin: 0;
    }

    .collapse__open__txt {
        font-size: 12px;
        padding: 25px 10px;
    }

    .infos45 {
        font-size: 12px;
    }
    
    .infos90 {
        font-size: 12px;
    }
}