.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 68px;
    color: #FF6060;
    max-width: 1440px;
    margin: 40px 0px;
}

/* .header__logo {
    background-color:white;
} */

.header__navbar {
    display: flex;
    justify-content: flex-end;
    height: 100%;
    width: 1220px;
}

.header__navbar__list {
    display: flex;
    justify-content: space-around;
    gap: 50px
}

.header__navbar__list__bloc {
    display: flex;
    height: 100%;
    list-style-type: none;
    color: #FF6060;
    padding: 10px;
    font-size: 24px;
    text-align: right;
}

.header__navbar__list__bloc a {
    color: #FF6060;
    text-decoration: none;
}

.header__navbar__list__bloc a:hover {
    color: #FF6060;
    text-decoration: solid;
}

.header__navbar__list__bloc--active {
    text-decoration: solid;
}