.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 68px;
    color: #FF6060;
    max-width: 1440px;
    margin: 40px 0px;
}

.header__navbar {
    display: flex;
    justify-content: flex-end;
    height: 100%;
    width: 1220px;
}

.header__navbar__list {
    display: flex;
    justify-content: space-around;
    gap: 50px
}

.header__navbar__list__bloc {
    display: flex;
    height: 100%;
    list-style-type: none;
    color: #FF6060;
    padding: 10px;
    font-size: 24px;
    text-align: right;
}

.header__navbar__list__bloc a {
    color: #FF6060;
    text-decoration: none;
}

.header__navbar__list__bloc a:hover {
    filter:brightness(80%);
    text-decoration: underline;
}

.header__navbar__list__bloc--active {
    text-decoration: underline !important;
}

@media screen and (max-width: 768px) {
    .header {
        height: 47px;
        max-width: 768px;
        margin: 0 0 20px 0;
    }

    .header__logo {
        height: 47px;
    }

    .header__navbar {
        max-width: 768px;
    }

    .header__navbar__list {
        gap: 10px
    }
    
    .header__navbar__list__bloc {
        font-size: 12px;
        padding: 0;
        text-transform: uppercase;
    }

    .header__navbar__list__bloc a {
        margin: auto;
    }
}