.home {
    max-width: 1220px;
    margin: auto;
}

.home__banner{
    position: relative;
    display: flex;
    justify-content: center;
}

.home__banner__image {
    object-fit: cover;
    border-radius: 25px;
    width: 100%;
    filter: brightness(70%);
}

.home__banner__title {
    font-weight: 500;
    font-size: 48px;
    position: absolute;
    text-align: center;
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 100%;
    width: 100%;
    z-index: 2;
    color: white;
    margin:0;
}